# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_data = pd.read_csv("weather_data.csv")
weather_data.head()

,city,cloudiness,country,date,humidity,lat,lon,temp_k,wind_speed
0,Hajnówka,0,PL,1584998796,63,52.74,23.58,269.69,2.01
1,Jiuquan,58,CN,1584998797,35,39.74,98.52,276.92,1.96
2,Ushuaia,75,AR,1584998798,67,-54.80,-68.30,287.15,9.80
3,Cherskiy,100,RU,1584998799,93,68.75,161.30,262.92,4.16
4,Punta Arenas,97,CL,1584998642,72,-53.15,-70.92,287.94,7.20

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Store latitude and longitude in locations/ Humidity for weights
locations = weather_data[["lat", "lon"]].astype(float)
weights = weather_data["humidity"].astype(float)

# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=weights, 
                                 dissipating=False, max_intensity=weights.max(),
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
#adding a temperature in fahrenheit to the dataframe
weather_data["temp_f"] = (weather_data["temp_k"]*(9/5))-459.67

ideal_weather = weather_data[(weather_data.temp_f > 70) & (weather_data.temp_f <80) 
                             & (weather_data.wind_speed < 10) & (weather_data.cloudiness == 0)]
                                 
ideal_weather

,city,cloudiness,country,date,humidity,lat,lon,temp_k,wind_speed,temp_f
55,Sonāmukhi,0,IN,1584998864,65,23.30,87.42,295.32,1.72,71.906
71,Geraldton,0,AU,1584998883,44,-28.77,114.60,299.00,7.20,78.530
90,Tocuila,0,MX,1584998906,35,18.95,-97.02,299.32,2.55,79.106
95,Businga,0,CD,1584998912,73,3.33,20.88,297.22,0.80,75.326
125,Cidreira,0,BR,1584998948,74,-30.18,-50.21,296.82,9.84,74.606
130,Carnarvon,0,AU,1584998953,69,-24.87,113.63,297.15,3.10,75.200
145,Mūl,0,IN,1584998972,30,20.07,79.67,299.32,0.91,79.106
217,Xai-Xai,0,MZ,1584999053,96,-25.05,33.64,294.92,1.02,71.186
218,Wad Medani,0,SD,1584999054,11,14.40,33.52,299.12,4.78,78.746
247,Terra Rica,0,BR,1584999087,73,-22.71,-52.62,298.02,3.19,76.766
375,Matara,0,LK,1584999239,89,5.95,80.54,296.02,2.49,73.166
440,Hambantota,0,LK,1584999319,84,6.12,81.12,298.32,4.85,77.306
448,Chibuto,0,MZ,1584999328,95,-24.69,33.53,294.72,1.55,70.826
460,Sompeta,0,IN,1584999343,77,18.93,84.60,296.12,1.92,73.346
523,Rock Sound,0,BS,1584999417,79,24.90,-76.20,296.62,5.58,74.246

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
hotel_df = ideal_weather

In [6]:
hotel_df["Hotel Name"] = ""
hotel_df["Hotel Address"] = ""
hotel_df

C:\Users\littleja\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\littleja\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,city,cloudiness,country,date,humidity,lat,lon,temp_k,wind_speed,temp_f,Hotel Name,Hotel Address
55,Sonāmukhi,0,IN,1584998864,65,23.30,87.42,295.32,1.72,71.906,,
71,Geraldton,0,AU,1584998883,44,-28.77,114.60,299.00,7.20,78.530,,
90,Tocuila,0,MX,1584998906,35,18.95,-97.02,299.32,2.55,79.106,,
95,Businga,0,CD,1584998912,73,3.33,20.88,297.22,0.80,75.326,,
125,Cidreira,0,BR,1584998948,74,-30.18,-50.21,296.82,9.84,74.606,,
130,Carnarvon,0,AU,1584998953,69,-24.87,113.63,297.15,3.10,75.200,,
145,Mūl,0,IN,1584998972,30,20.07,79.67,299.32,0.91,79.106,,
217,Xai-Xai,0,MZ,1584999053,96,-25.05,33.64,294.92,1.02,71.186,,
218,Wad Medani,0,SD,1584999054,11,14.40,33.52,299.12,4.78,78.746,,
247,Terra Rica,0,BR,1584999087,73,-22.71,-52.62,298.02,3.19,76.766,,
375,Matara,0,LK,1584999239,89,5.95,80.54,296.02,2.49,73.166,,
440,Hambantota,0,LK,1584999319,84,6.12,81.12,298.32,4.85,77.306,,
448,Chibuto,0,MZ,1584999328,95,-24.69,33.53,294.72,1.55,70.826,,
460,Sompeta,0,IN,1584999343,77,18.93,84.60,296.12,1.92,73.346,,
523,Rock Sound,0,BS,1584999417,79,24.90,-76.20,296.62,5.58,74.246,,

In [7]:
#parameters
params = {"radius": 5000,
    "types": "lodging",
    "key": g_key}

#Looping through each row to find lat/lon 
for index, row in hotel_df.iterrows():
    lat = row["lat"]
    lon = row["lon"]

    #taking the lat/lon and creating the location paramter
    params["location"] = f"{lat},{lon}"

    #URl/response formatting
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    response = requests.get(base_url, params=params).json()
    
    
    
    try:
        hotel_df.loc[index, "Hotel Name"] = response["results"][0]["name"]
        hotel_df.loc[index, "Hotel Address"] = response["results"][0]["vicinity"]
        

    except (KeyError, IndexError):
        hotel_df.loc[index, "Hotel Name"] = "Unavailable"
        hotel_df.loc[index, "Hotel Address"] = "Unavailable"

#I know the instructions want hotels, but I wasn't sure if that meant exactly hotels or what technically counted so I 
#kept the parameters at just lodging because using keyword "hotel" gave far fewer results
hotel_df

C:\Users\littleja\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,city,cloudiness,country,date,humidity,lat,lon,temp_k,wind_speed,temp_f,Hotel Name,Hotel Address
55,Sonāmukhi,0,IN,1584998864,65,23.30,87.42,295.32,1.72,71.906,Shubham lodge,Sonamukhi
71,Geraldton,0,AU,1584998883,44,-28.77,114.60,299.00,7.20,78.530,Broadwater Mariner Resort,"298 Chapman Road, Geraldton"
90,Tocuila,0,MX,1584998906,35,18.95,-97.02,299.32,2.55,79.106,Chula Vista Camping,Fortín de las Flores
95,Businga,0,CD,1584998912,73,3.33,20.88,297.22,0.80,75.326,Unavailable,Unavailable
125,Cidreira,0,BR,1584998948,74,-30.18,-50.21,296.82,9.84,74.606,Novomar Pousada e Turismo Ltda,"Rua Ari Barroso, 1378 - Nazaré, Cidreira"
130,Carnarvon,0,AU,1584998953,69,-24.87,113.63,297.15,3.10,75.200,Hospitality Carnarvon,"6 West Street, South Carnarvon"
145,Mūl,0,IN,1584998972,30,20.07,79.67,299.32,0.91,79.106,Prashant hotel,Mul
217,Xai-Xai,0,MZ,1584999053,96,-25.05,33.64,294.92,1.02,71.186,Platinum Hotel,"Av, Rua Martires de Mueda, Xai-Xai"
218,Wad Medani,0,SD,1584999054,11,14.40,33.52,299.12,4.78,78.746,فندق يوغسلافيا,حى ودأزرق، ودمدني
247,Terra Rica,0,BR,1584999087,73,-22.71,-52.62,298.02,3.19,76.766,Victor Hotel,"Av. São Paulo, s/n - Centro, Terra Rica"
375,Matara,0,LK,1584999239,89,5.95,80.54,296.02,2.49,73.166,Amaloh Boutique Resort,"36/9, 1st Cross Road, Polhena, Matara"
440,Hambantota,0,LK,1584999319,84,6.12,81.12,298.32,4.85,77.306,Bungalow 63,"No 63 Barrak Street, Hambantota"
448,Chibuto,0,MZ,1584999328,95,-24.69,33.53,294.72,1.55,70.826,Hotel Mar Da Zinha,Chibuto
460,Sompeta,0,IN,1584999343,77,18.93,84.60,296.12,1.92,73.346,V.B.R A/C Lodge And Function Hall,"near Siva Cinema Hall, Kaviti Road, Bazar Stre..."
523,Rock Sound,0,BS,1584999417,79,24.90,-76.20,296.62,5.58,74.246,Rock Sound Club,Bahamas

In [10]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["lat", "lon"]]

#heat map 
fig = gmaps.figure()

fig.add_layer(heat_layer)

#Assign the marker layer to a variable
markers = gmaps.marker_layer(locations)

# Add the layer to the map
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))